.datasheet-grid-node {
    width: 480px;
    color: black;

}

.datasheet-grid-node .datasheet-grid-node-header {
    background-color: #d0f4de;
    color: black;
}

.datasheet-grid-node input {
    color: black;
}